* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.slider {
  text-align: center;
}

img {
  vertical-align: middle;
  height: 500px;
  width: 800px;

}

.slider__container {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
}

.slider__numberText {
  position: absolute;
  top: 0;
  padding: 8px 12px;
  color: #f2f2f2;
  font-size: 16px;
}

.slider__text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.slider__dots-container {
  text-align: center;
  margin-top: 25px;
}

.slider__dot {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  display: inline-block;

}

.slider__dots {
  height: 11px;
  width: 11px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}