* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    background: rgb(189, 255, 0);
    background: linear-gradient(90deg, rgba(189, 255, 0, 0.7987570028011204) 28%, rgba(255, 201, 20, 1) 100%);
}

.validator {
    width: 440px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #000;
}

form {
    padding: 40px;
    font-size: 20px;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

.validator__form-box label {
    display: inline-block;
    margin-bottom: 5px;
}

.validator__form-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
}

.validator__form-box.error input {
    border: 1px solid rgb(250, 0, 0);
    background-color: rgba(250, 0, 0, 0.3);
}

.validator__form-box .validator__error-text {
    margin: 5px 0 5px 10px;
    font-size: 14px;
    color: rgb(250, 0, 0);
    visibility: hidden;
}

.validator__form-box.error .validator__error-text {
    visibility: visible;
}

.validator__control-buttons {
    display: flex;
    justify-content: flex-end;
}

.validator__clear-btn,
.validator__send-btn,
.validator__popup--close-btn {
    display: block;
    padding: 10px 0;
    margin-left: 10px;
    width: 100px;
    font-size: 18px;
    background-color: rgb(138, 187, 5);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s;
}

.validator__clear-btn:hover,
.validator__send-btn:hover,
.validator__popup--close-btn:hover {
    background-color: rgba(138, 187, 0, 0.7);
}

.validator__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -300px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 200px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 8px;
    transition: top .5s;
}

.validator__popup p {
    font-size: 28px;
}

.validator__popup--close-btn {
    margin-top: 20px;
}

.validator__popup--show-popup {
    top: 150px;
}